.col.s12.m6.l3
  .card.small
    = image_tag work.file.url(:thumb), class: 'center-block card-image'
    = link_to (work), class: 'card-over' do
      .center
        %h5.black-text
          = work.name
        %p
          %i.mdi-action-face-unlock.prefix
          = work.user.first_name + ' ' + work.user.last_name
        %p
          %i.mdi-action-today.prefix
          =l work.created_at, format: :my