.work.col.s6.m3.l3
  .card.small
    .card-image.center-block
      = image_tag work.file.url(:thumb), class: ''
    = link_to (work), class: 'card-over center' do
      %h5.black-text
        = work.name
      .info
        %p.left-align
          %i.mdi-action-face-unlock.prefix
          = work.user.first_name + ' ' + work.user.last_name
        %p.left-align
          %i.mdi-action-today.prefix
          =l work.created_at, format: :my
    - if current_user and current_user.has_role? :jury and !Rating.was_rait(work, current_user).empty?
      %i.material-icons.check check