.container
  .row
    .col.s12
      .card-panel.center
        =link_to 'Я участник', '/participant/sign_up', class: 'waves-effect waves-light btn-large'
        =link_to 'Я жюри', '/jury/sign_up', class: 'waves-effect waves-light btn-large'