%header.main-bag
  %nav{:role => "navigation"}
    .nav-wrapper.container.right
      - unless user_signed_in?
        %ul.right.hide-on-med-and-down
          %li
            =link_to "Вход", new_user_session_path, class: 'nav-el'
          %li
            =link_to "Регистрация", new_user_registration_path, class: 'nav-el'
        %ul#nav-mobile.side-nav
          %li
            =link_to "Вход", new_user_session_path
          %li
            =link_to "Регистрация", new_user_registration_path
      - else
        %ul.right.hide-on-med-and-down
          %li
            =link_to "Аккаунт", edit_user_registration_path, class: 'nav-el'
          %li
            =link_to "Выход", destroy_user_session_path, :method => :delete, class: 'nav-el'
        %ul#nav-mobile.side-nav
          %li
            =link_to "Аккаунт", edit_user_registration_path
          %li
            =link_to "Выход", destroy_user_session_path, :method => :delete
        %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
          %i.mdi-navigation-menu
  .header
    %br/
    %h1.grey-text.text-lighten-5 Think Deeper
    %br/
    %a#scroll.btn-large.btn-floating.materialize-red.lighten-1.waves-effect.waves-light{:href => "#works"}
      %i.mdi-navigation-expand-more
%section#news.container
  .section
    .row
      %h4.col.s12.center Последние новости
    .row
      .col.s12.m6.l6
        .card
          .card-content.black-text
            %span.card-title.black-text Заголовок новости
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse labore doloremque cum illum atque et ipsam accusantium. Fugit ea eaque delectus velit accusantium, ducimus sed, autem est voluptate qui perspiciatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui error doloribus nobis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, repudiandae...
          .card-action
            %a.btn.btn-ghost.waves-effect.waves-red{:href => "#"} читать
      .col.s12.m6.l6
        .card
          .card-content.black-text
            %span.card-title.black-text Заголовок новости
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus aut, mollitia perspiciatis rerum repellendus laborum velit! Deserunt eaque dolore eos doloremque? Temporibus maiores delectus dicta! Odio rerum rem perferendis recusandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis excepturi accusamus saepe. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptate.
          .card-action
            %a.btn.btn-ghost.waves-effect.waves-red{:href => "#"} читать
%section#works.container
  .section
    .row
      %h4.col.s12.center Последние работы
    .row
      .col.s12.m6.l3
        .card.small
          %img.center-block.card-image{:src => image_path('300.png')}/
      .col.s12.m6.l3
        .card.small
          %img.center-block.card-image{:src => image_path('300.png')}/
      .col.s12.m6.l3
        .card.small
          %img.center-block.card-image{:src => image_path('300.png')}/
      .col.s12.m6.l3
        .card.small
          %img.center-block.card-image{:src => image_path('300.png')}/