-#%section#news.container
-#  .section
-#    .row
-#      %h4.col.s12.center Последние новости
-#    .row
-#      .col.s12.m6.l6
-#        .card
-#          .card-content.black-text
-#            %span.card-title.black-text Заголовок новости
-#            %p Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
-#          .card-action
-#            %a.btn.btn-ghost.waves-effect.waves-red{href: '#'} читать
-#      .col.s12.m6.l6
-#        .card
-#          .card-content.black-text
-#            %span.card-title.black-text Заголовок новости
-#            %p Идейные соображения высшего порядка, а также новая модель организационной деятельности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Равным образом сложившаяся структура организации обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.
-#          .card-action
-#            %a.btn.btn-ghost.waves-effect.waves-red{href: '#'} читать
%section#works.container
  .section
    .row
      %h4.col.s12.center Последние работы
    .row
      - @works.each do |work|
        =render partial: 'partials/work', locals: {work: work}
    .row.center
      %a.btn.waves-effect.waves-light{href: "#{works_path}"}
        все работы
        %i.mdi-content-send.right
