/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPOEPOIfcPv-fZ-WyMUtx48.ttf) format('truetype')}

//colors
$black: #000;
$color_alabaster_approx: #f9f9f9;
$black_100: rgba(0, 0, 0, 1);

//urls
$url_0: url(bg.png);

html {
  font-family: "Open Sans";
  height: 100%;
}
  
body {
  height: 100%;
}

.container {
  min-width: 320px;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 3px 1px 5px #000;

  @media only screen and (max-width: 480px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.header {
  padding: 150px 0;
  
  @media only screen and (min-width: 768px) {
    padding-top: 200px;
    padding-bottom: 250px;
  }
}
nav {
  background-color: rgba(0,0,0,0.3);
  box-shadow: none;
  height: 70px;
  line-height: 70px;
}
.nav-el {
  font-size: 1.2rem;
  line-height: 70px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
ul.right li:hover {
  background-color: white;

  .nav-el {
    color: black;
  }
}
.main-bag {
  text-align: center;
  background: $url_0 no-repeat center center;
  background-size: cover;
}
#news {
  .card {
    min-height: 300px;
  }
  .card-action {
    border: none;
    padding: 0 20px;
  }
  .card-content {
    min-height: 230px;
  }
}
.card a.btn-ghost {
  margin-bottom: 10px;
  background: none;
  border: 1px solid;
  border-color: $black;
  color: $black;
  box-shadow: none;
  &:hover {
    background-color: $color_alabaster_approx;
    color: $black_100;
  }
}
.row h4.col {
  padding: 10px 0;
  border-top: 1px solid color("grey", "base");
  border-bottom: 1px solid color("grey", "base");
}

.card.small .card-image {
  height: 100%;
}

.card .card-image img {
  width: auto;
}

.card.small {
  height: 200px;}
.card.small .card-image {
  max-width: 100%;
  padding: 5%;
}

.card-over {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 40px;
  line-height: 1;
  font-family:"Open Sans";
  text-decoration: none;
  background: #fff none repeat scroll 0% 0%;
  overflow: hidden;
  z-index: 3;
  box-sizing: border-box;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
  &:hover {
    opacity: 0.95;
  }
  h5 {
    font-size: 1.5rem;
  }
  p {
    margin: 5px auto;
    color: color("grey", "darken-1");
    font-weight: 400;
    font-size: 1rem;
  }

  @media only screen and (min-width: 993px) and (max-width: 1440px) {
    padding: 20px;
  }
}

.file-field .btn {
  left: 10px;
}

[type="checkbox"] + label {
  padding-left: 25px;
}

[type="checkbox"] + label:before {
  left: -10px;
}

[type="checkbox"]:checked + label:before {
  left: -10px;
}

.select-wrapper + label {
  font-size: 1rem;
}

.file-input {
  margin: 15px 0;
}

.file-input label {
  display: block;
  font-size: 1rem;
}

.loading-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  z-index: 1001;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 64px;
  background: url(loader.GIF) transparent;
  width: 128px;
  height: 128px;
  z-index: 1002;
}

#works {
  position: relative;
}

.small-preview {
  margin: 10px 0;

  &:hover {
    @extend .z-depth-3;
    cursor: zoom-in;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

@mixin font-size($size: 1.6,$line: $size*1.5) {
  font-size:   ($size) + px;
  font-size:   $size/16 + rem;
  line-height: $line/16 + rem;
  line-height: ($line) + px;
}

.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 70px;
    margin-top: -95px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
      @include font-size(18,24);
    }
    label{
      display: block;
      font-weight: 600;
      @include font-size(18,24);
    }
  }
}