/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *=
 *= require_self
 */
@import "materialize";
@import "lightbox";
@import "users";

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:400;
  src:local('Open Sans'),local('OpenSans'),url(https://fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')}

@font-face{
  font-family:'Open Sans';
  font-style:normal;
  font-weight:700;
  src:local('Open Sans Bold'),local('OpenSans-Bold'),url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzPOEPOIfcPv-fZ-WyMUtx48.ttf) format('truetype')}

//colors
$black: #000;
$color_alabaster_approx: #f9f9f9;
$black_100: rgba(0, 0, 0, 1);

//urls
$url_0: url(bg.png);

html {
  font-family: "Open Sans";
  height: 100%;
}
  
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container .row {
  margin: 0;
}

h4 {
  font-size: 1.8rem;
}

h4.main-header {
  text-transform: uppercase;
  padding: 10px 0;
  border-top: 1px solid color("grey", "base");
  border-bottom: 1px solid color("grey", "base");
}

.upper {
  text-transform: uppercase;
}

.container {
  min-width: 320px;
}

.collapsible-header {
  line-height: 1.5rem;
}

.cr_name {
  padding-left: 25px;
}

.cr_size {
  color: rgb(52, 73, 94);
  font-size: 1.2rem;
}

.rating {
  color: rgb(52, 73, 94);
  font-size: 1.8rem;
  margin-top: 10px;
}

.toast {
  background-color: color("teal", "base");
}

#toast-container {
  @media #{$large-and-up} {
    top: 70px;
    right: 0;
  }
}

nav .nav-wrapper i {
  line-height: 70px;
}

#nav-mobile {

  .dropdown-content li > a {
    line-height: 35px;
  }

  i {
    line-height: 64px;
  }
}

.dropdown-content li:hover{
  a {
    background-color: color("teal", "lighten-1");
    color: white;
  }
}

.pagination li.active {
  color: white;
}

a.logo {
  display: block;
  float: left;
  margin-top: 5px;
  padding: 5px;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

a.logo:hover path, a.logo:hover circle{
  fill: rgba(0,0,0,.8) !important;
}

a.logo:hover {
  background-color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 3px 1px 5px #000;

  @media #{$small-and-down} {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }

  @media #{$medium-only} {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @media #{$large-and-up} {
    font-size: 3rem;
    line-height: 4rem;
  }
}
.header {
  padding: 50px 0;
  
  @media only screen and (min-width: 768px) {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
nav {
  background-color: rgba(0,0,0,0.3);
  box-shadow: none;
  height: 70px;
  line-height: 70px;
}

.dropdown-content li > a {
  text-transform: uppercase;
  font-size: 1rem !important;
  text-align: center;
  padding: 15px 5px;
}
.nav-el {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 70px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
ul.right li:hover {
  background-color: white;

  .nav-el {
    color: black;
    background-color: white;
  }
}
.main-bag {
  height: 400px;
  text-align: center;
  background: $url_0 no-repeat center center;
  background-size: cover;
}
#news {
  .card {
    min-height: 300px;
  }
  .card-action {
    border: none;
    padding: 0 20px;
  }
  .card-content {
    min-height: 230px;
  }
}
.card a.btn-ghost {
  margin-bottom: 10px;
  background: none;
  border: 1px solid $black;
  color: $black;
  box-shadow: none;
  &:hover {
    background-color: $color_alabaster_approx;
    color: $black_100;
  }
}

.card.small {
  height: auto;
  padding: 5px;

  i.check {
    position: absolute;
    top: -30px;
    right: -20px;
    font-size: 5rem;
    color: color("red", "base");
  }
}
.card.small .card-image {
  max-width: 100%;
  height: 0;
  padding-bottom: 65%;
}

.card-over {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 7% 5% 5% 5%;
  line-height: 1;
  font-family:"Open Sans";
  text-decoration: none;
  background: #fff none repeat scroll 0% 0%;
  overflow: hidden;
  z-index: 3;
  box-sizing: border-box;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
  &:hover {
    opacity: 0.95;
  }

  h5 {
    font-size: 1.3rem;

    @media #{$medium-only} {
      font-size: 1rem;
    }
    @media #{$small-and-down} {
      font-size: 1rem;
    }
    @media only screen and (min-width : 993px) and (max-width : 1440px) {
      font-size: 1rem;
    }

  }
  .info {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;

    @media #{$small-and-down} {
      bottom: 5px;
    }

    p {
      margin: 5px auto;
      color: color("grey", "darken-1");
      font-weight: 400;
      font-size: 0.9rem;

      @media #{$medium-only} {
        font-size: 0.5rem;
      }
      @media #{$small-and-down} {
        font-size: 0.5rem;
        margin: 2px auto;
      }
      @media only screen and (min-width : 993px) and (max-width : 1440px) {
        font-size: 0.7rem;
      }
    }
  }
  @media #{$small-and-down} {
    padding: 5%;
  }
}

.file-field .btn {
  left: 10px;
}

[type="checkbox"] + label {
  padding-left: 25px;
}

[type="checkbox"] + label:before {
  left: -5px;
}

[type="checkbox"]:checked + label:before {
  left: -10px;
}

.select-wrapper + label {
  font-size: 1rem;
}

.file-input {
  margin: 15px 0;
}

.file-input label {
  display: block;
  font-size: 1rem;
}

.loading-wrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.5);
  z-index: 1001;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 64px;
  background: url(loader.GIF) transparent;
  width: 128px;
  height: 128px;
  z-index: 1002;
}

#works {
  position: relative;
}

.small-preview {
  margin: 5px 0;

  &:hover {
    @extend .z-depth-3;
    cursor: zoom-in;
  }
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

@mixin font-size($size: 1.6,$line: $size*1.5) {
  font-size:   ($size) + px;
  font-size:   $size/16 + rem;
  line-height: $line/16 + rem;
  line-height: ($line) + px;
}

.circular-bar{
  text-align: center;
  .circular-bar-content{
    margin-bottom: 70px;
    margin-top: -95px;
    text-align: center;
    strong{
      display: block;
      font-weight: 600;
      @include font-size(18,24);
    }
    label{
      display: block;
      font-weight: 600;
      @include font-size(18,24);
    }
  }
}

.card .small-preview {
  border: 1px solid silver;
}

.card:after{
  content: "";
  display: table;
  clear: both;
}

.modal {
  max-height: 80%;
  width: 90%;
}

.work {
  .btn i {
    font-size: 1.8rem;
  }
  .name {
    padding-left: 10px;
  }
  .date {
    padding-left: 10px;
    color: color("grey", "darken-1");
    font-weight: 400;
    font-size: 1rem;
  }
}

#error_explanation li {
  background-color: $error-color;
  color: white;
}

.top-work {

  max-height: 280px;

  span > a:hover {
    text-decoration: underline;
  }

  .top-title {
    max-height: 30px;

    h5 {
      margin-left: -8px;
    }

    span {
      padding-left: 20px;
    }
  }

  .circular-bar {
    position: relative;
    top: 20px;
  }

  .circular-bar-content {
    margin-top: -68px;
  }

  .card.small {
    max-height: 180px;
    margin-left: 20px;

    .card-image {
      height: auto;
      max-height: 150px;
      padding: 0;
    }
  }
}

.rating-header {
  text-transform: uppercase;
}

.work-info {
  &__author, &__categ {

    margin: 0;

    a {
      padding-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      position: relative;
      top: 6px;
      color: #34495e;
    }

  }
}

footer.page-footer {
  padding-top: 0;

  .footer-copyright {
    color: white;
  }
}