/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

//colors
$black: #000;
$color_alabaster_approx: #f9f9f9;
$black_100: rgba(0, 0, 0, 1);

//urls
$url_0: url(bg.png);

html {
	height: 100%;
}
body {
	height: 100%;
}
h1 {
	font-size: 5rem;
}
.header {
	padding-top: 20%;
	margin-bottom: 10%;
}
nav {
	background-color: rgba(0,0,0,0.1);
	box-shadow: none;
}
.nav-el {
	font-size: 1.2rem;
	line-height: 2.7rem;
	margin: 0.82rem 0 0.656rem 0;
}
.main-bag {
	position: relative;
	height: 100%;
	text-align: center;
	background: $url_0 no-repeat center center;
	background-size: cover;
}
#news {
	.card {
		min-height: 300px;
	}
	.card-action {
		border: none;
		padding: 0 20px;
	}
	.card-content {
		min-height: 230px;
	}
}
.card a.btn-ghost {
	margin-bottom: 10px;
	background: none;
	border: 1px solid;
	border-color: $black;
	color: $black;
	box-shadow: none;
	&:hover {
		background-color: $color_alabaster_approx;
		color: $black_100;
	}
}
.row h4.col {
	padding: 10px 0;
	border-top: 1px solid color("grey", "base");
	border-bottom: 1px solid color("grey", "base");
}

.card.small .card-image {
    height: 100%;
}

.card .card-image img {
	width: auto;
}

.card.small {
    height: 100%;}
.card.small .card-image {
	max-width: 100%;
	padding: 5px;
}

.card-over {
	position: absolute;
	top: 0px;
	bottom: 30px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 40px;
	line-height: 1;
	text-decoration: none;
	background: #FFF none repeat scroll 0% 0%;
	overflow: hidden;
	z-index: 3;
	box-sizing: border-box;
	opacity: 0;
	&:hover {
		opacity: 0.9;
	}
	p {
		color: color("grey", "darken-1");
		font-weight: 400;
		font-size: 1.2rem;
	}
}